
#///////////////////////////
# Cocos Creator Project
#///////////////////////////

/library/
/temp/
/local/
/build/
/profiles/
/.creator/asset-template/
/native/engine/android/**/*/assets

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
